/* NavBar.css */
:root {
    --font-color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6347;
    padding: 10px 20px;
    color: var(--font-color);
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-title {
    font-size: 1.5em;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .navbar-links li {
    margin: 0 1rem;
    font-size: 1.2em;
  }
  
  .navbar-links a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #ffd700;
  }
  